body {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Arial';
}

.header {
    background-color: #445162;
    width: 100%;
    color: white;
    padding: 50px;
    box-sizing: border-box;
}

.header:after,
.about:after,
.pluses:after,
.screen:after,
.reviews:after {
    clear: both;
    content: "";
    display: block;
}

.header-text {
    padding: 0;
    margin: 0;
    float: left;
}

h1 {
    margin: 0;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.header-text ul {
    margin: 50px 0 50px 0;
    list-style: url(../img/ok.png);
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    margin: 30px 0 0 0;
}

header img {
    margin: 0;
    float: right;
    padding: 0;
}

.about {
    padding: 50px;
    box-sizing: border-box;
}

.about-text {
    padding: 0;
    margin: 0;
    float: left;
    width: 649px;
}

.about-text h2 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #445161;
    margin: 0 0 30px 0;
}

.about-text p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin: 0 0 20px 0;
}

.about-text p:last-child {
    margin: 0;
}

.video {
    background-color: #445161;
    float: right;
    padding: 0;
    width: 430px;
    height: 245px;
}

.pluses {
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    padding: 50px;
    box-sizing: border-box;
}

.pluses h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
    padding: 0;
    text-align: center;
    clear: both;
    content: "";
    display: block;
}

.left {
    margin: 20px 0 0 0;
    padding: 0 0 0 40px;
    float: left;
    list-style-type: none;
    width: 526px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
}

.right {
    float: right;
    list-style-type: none;
    padding: 0;
    width: 526px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    margin: 20px 0 0 0;
    position: relative;
}

.left > li:before {
    clear: both;
    content: "";
    display: block;
    background-image: url(../img/Cros.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50px;
}

.right > li:before {
    clear: both;
    content: "";
    display: block;
    background-image: url(../img/Cros.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -40px;
}

.left > li,
.right > li {
    width: 526px;
    min-height: 63px;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 35px;
    overflow: hidden;
}

.left > li:last-child,
.right > li:last-child {
    margin: 0;
}

.screen {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.screen h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #445161;
    text-align: center;
}

.figcaption h3 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #445161;
    margin: 0;
}

.figcaption p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #333333;
    float: right;
    margin: 12px 0 0 0;
}

.f {
    min-width: 575px;
    min-height: 150px;
    margin: 35px 0 0 0;
    padding: 0;
}

.f:nth-child(odd) {
    float: left;
}

.f:nth-child(even) {
    float: right;
}


.figcaption {
    width: 359px;
    height: 150px;
    float: right;
    overflow: hidden;
}

.reviews {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    min-height: 424px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews h2 {
    margin: 0 0 35px 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #445161;
    display: block;
    text-align: center;
    width: 100%;
}

.art {
    margin: 0 0 24px 0;
    overflow: hidden;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.art:nth-child(4),
.art:nth-child(5) {
    margin: 0;
}

.avatar {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
}

.art:nth-child(3) > div,
.art:nth-child(5) > div {
    margin-left: 16px;
}

.art:nth-child(2) > p,
.art:nth-child(4) > p {
    margin-right: 16px;
}

.txt {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.29;
    letter-spacing: normal;
    color: #333333;
    padding: 16px;
    margin: 0;
    width: 463px;
    height: 121px;
    border-radius: 10px;
    background-color: #ebebeb;
    box-sizing: border-box;
    position: relative;
    text-align: justify;
}

.txt:before {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right: 20px solid #ebebeb;
    position: absolute;
    top: 28px;
    left: -30px;
}




.user {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #989898;
    display: block;
    margin: 5px 0 0 0;
}

.buy {
    margin: 0;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.buy h2 {
    margin: 0 0 29px 0;
    padding: 0;
    display: block;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #445161;
    text-align: center;
    width: 100%;
}

.price {
    border: solid 2px #445162;
    background-color: #445162;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 16px 0 20px 0;
    margin: 0 23px 0 23px;
}

.price h3 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin: 0 0 17px 0;
}

.price span {
    background-color: #ffffff;
    padding: 18px 106px;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    display: block;
    color: #445162;
}

.price ol {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
    list-style-position: inside;
    padding: 20px;
    margin: 0;
}

.price button {
    width: 260px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    margin: 0 auto;
    color: #445161;
    display: block;
    text-align: center;
    word-break: break-all;
}

.price button:hover {
    background-color: #ebebeb;
}

.price button:active {
    background-color: #445161;
    color: #ffffff;
    border: solid 2px #ffffff;
    box-sizing: border-box;
}

.contacts {
    width: 100%;
    margin: 0;
    padding: 50px;
    background-color: #445162;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

}

.contacts span {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin: 0 0 31px 0;


}

.contacts a {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.form input::placeholder {
    color: #445162;

}

.form textarea::placeholder {
    color: #445162;

}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}

.name,
.email,
.textarea {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    min-width: 500px;
    border-radius: 5px;
    color: #445162;
    margin: 0 0 21px 0;
}

.textarea {
    resize: none;
}

.btn {
    width: 140px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #445162;
    text-transform: uppercase;

}

.social {
    width: 240px;
    height: 15px;
    display: flex;
    flex-wrap: wrap;

}

.social a {
    margin: 0 0 29px 0;
}

.soc {
    width: 240px;
    display: flex;
    margin: 0;
}

.footer {
    width: 100%;
    background-color: #ffffff;
}

.footer footer {

    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #445162;
    margin: 0;
    padding: 0;
}

.skype {
    background: url(../img/skype_icon.png) no-repeat 0 -1px;
    padding-left: 30px;
}

.icq {
    background: url(../img/icq_icon.png) no-repeat 0 -1px;
    padding-left: 30px;
}

.mail {
    background: url(../img/email_icon.png) no-repeat 0 -1px;
    padding-left: 30px;
}

.tel {
    background: url(../img/phone_icon.png) no-repeat 0 -1px;
    padding-left: 30px;
}

.icon {
    background-image: url(../img/social_buttons.png);
    background-size: cover;
    width: 42px;
    height: 42px;
    display: block;
    margin: 0;
    padding: 0 7px 0 0;
}

.twiter {
    background-position: 0px;
}

.facebook {
    background-position: -48px;
}

.linkedin {
    background-position: -97px;
}

.google {
    background-position: -146px;
}

.youtube {
    background-position: 47px;
}


